<% data =  @frame.data unless @frame.data == nil %>

<% 
@frame.faults.each do |f|
				id = data.index(f.value)
				data.insert(id+f.value.size, "</b>")
				data.insert(id, "<b>")
end %>

<%= data %>
<br>

<table>
<th>Faults:</th><th></th>
<% @frame.faults.each do |f| %>
<tr>
<td></td>	<td><%= f.value %></td>
</tr>
<% end %>
</table>
<br>

	
